<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="col-sm-12 text-center">

      <div class="input-group mt-5">
        <input type="text" class="form-control" #userInput placeholder="{{ weather.name}}">
        <div class="input-group-append">
          <button (click)="getCity(userInput.value)" class="input-group-text btn btn-outline-primary">
            Search
          </button>
        </div>
      </div>

      <h5>Current weather in your city</h5>
      <h2>Weather in {{ weather.name }}, {{ weather.sys.country}}</h2>
    </div>

    <div class="col-sm-12">
      <span class="temp">
        <img src="http://openweathermap.org/img/wn/{{ weather.weather[0].icon }}@2x.png" alt="weather_icon">
      {{ weather.main.temp | number:'1.0-0' }}
      </span>
      <p class="text-uppercase font-italic font-weight-bold">
        <td>{{ weather.weather[0].description }}</td>
      </p>
    </div>
    <table class="table table-light table-striped table-bordered table-sm">
      <tbody>
        <tr>
          <td>Humidity</td>
          <td>{{ weather.main.humidity }}%</td>
        </tr>
        <tr>
          <td>Pressure</td>
          <td>{{ weather.main.pressure }} hpa</td>
        </tr>
        <tr>
          <td>Sunrise</td>
          <td>{{ weather.sys.sunrise * 1000 | date:'HH:mm' }}</td>
        </tr>
        <tr>
          <td>Sunset</td>
          <td>{{ weather.sys.sunset * 1000 | date:'HH:mm' }}</td>
        </tr>
        <tr>
          <td>Geolocation</td>
          <td>[{{ weather.coord.lat }}, {{ weather.coord.lon }}]</td>
        </tr>
      </tbody>
    </table>

    <here-map appId="ID_HERE" appCode="CODE_HERE" lat="{{ weather.coord.lat }}" lng="{{ weather.coord.lon }}" width="100%" height="300px"></here-map>

  </div>
</div>
